# OmniDownloader Pro - Configuración de Entorno
HOST=127.0.0.1
PORT=18989
DEBUG=True

# Directorio de Descargas (Estrictamente en disco D:)
DOWNLOAD_DIR=D:/Documents/MANUEL/OmniDownloader

# Ruta al ejecutable de FFmpeg (dejar vacío si ffmpeg ya está en el PATH del sistema)
# Ej: C:/ffmpeg/bin/ffmpeg.exe o D:/Documents/MANUEL/DEV/video-downloader/server/bin/ffmpeg.exe
FFMPEG_PATH=

# Concurrencia máxima de descargas simultáneas
MAX_PARALLEL_DOWNLOADS=3

